footer {
	height: 152px;
	position: relative;
	width: 1140px;
		padding-bottom: 0px;
	line-height: 20%;
	position: absolute;
	width: 1140px;
	height: 20%;
	left: 200px;
	top: 775px;
	margin-bottom: 127px;
	padding-bottom: 0px;
		position: absolute;
	width: 1140px;
	
	left: 200px;
	top: 1405px;
	margin-bottom: 127px;

}