.wrapper {
	overflow: hidden;
	max-height: 100%;
	display: flex;
	flex-direction: column;
}
.wrapper__content {
	position: absolute;
	height: 100%;
}

.container {
	margin: 0 auto;
	width: 1920px;
	height: 100%;
	max-width: 1141px;
}
.header {
	margin-bottom: 120px;
}
.logo, .menu, .menu__item, .contacns {
	display: inline-block;
}
.logo {
	margin-top: 29px;
}
.logo {
	float: left;
}
.contacts {
	float: right;
	margin-top: 29px;
}
.menu {
	margin-top: 43px;
	margin-left: 79px;
}
.menu__item {
	margin-right: 54px;
}
.menu__item:last child {
	margin-right: 0;
}
.contacts__phone{
	font-style: normal;
	font-weight: 400;
	font-size: 26px;
	line-height: 35px;
}
}
.contacts_info {
	float: right;
	font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 20px;
}
.title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 49px;
}
.title--dark {
	color: #000;
}